.card {
  display: block;
}

.padding-0 { padding: 0; }
.padding-1 { padding: var(--lame-space-1); }
.padding-2 { padding: var(--lame-space-2); }
.padding-3 { padding: var(--lame-space-3); }
.padding-4 { padding: var(--lame-space-4); }
.padding-5 { padding: var(--lame-space-5); }
.padding-6 { padding: var(--lame-space-6); }
